{% extends 'admin/layout.tpl.twig' %}

{% block content %}
    <div class="theme-col-all">
        <div class="tkmf_block-text">

            {{ dump() }}

        </div>
    </div>
{% endblock content %}