{% extends "layout.tpl.twig" %}
{% block title %}Accueil{% endblock %}

{% block content %}

    <div class="theme-col-all">
        <div class="tkmf_block-text">

            {{ dump() }}

        </div>
    </div>

{% endblock  %}