{% block help %}
    <div class="tkmf_block-text">
        <h2 class="headline">Détails du formulaire</h2>

        <ul>
            <li><b>Dénomination:</b> Nom pour désigner quel type de pièces traîte la machine.</li>
        </ul>
    </div>
{% endblock help %}