{% block help %}
    <div class="tkmf_block-text">
        <h2 class="headline">Détails du formulaire</h2>

        <ul>
            <li>
                <b>BL de démarrage:</b>
                Il s'agit du dernier n° de BL utilisé dans les fichiers Excel sur lequel commencer à compter.
            </li>
        </ul>
    </div>
{% endblock help %}