{% extends "permissions.tpl.twig" %}

{% block content %}
    <p class="details">
        {{ user }},<br>
        Vous n'avez pas les droits nécessaires pour accéder à cette ressource.
    </p>
{% endblock content %}